header {
    position: absolute;
    position: relative;
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: 10% 80% 10%; */
    /* gap: 3%; */
    /* padding: 0 10rem; */
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #06090d;
    color: white;
    z-index: 333;
}

header .logo {
    /* background-color: teal; */
    width: 200px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

header .nav-menu {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}

header .nav-menu nav {
    /* background-color: tan; */
    width: 700px;
    margin-top: 15px;
    display: flex;
}

header .nav-menu nav a {
    margin-left: 25px;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: white;
    transition: .3s color;
}

header .nav-menu a.cart {
    position: relative;
}

header .nav-menu a.cart p {
    /* content: "0"; */
    position: absolute;
    top: -10px;
    right: -15px;
    background-color: #477cff;
    color: #06090d;
    /* color: #477cff; */
    font-size: 1.4rem;
    font-weight: 500;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

header nav a:hover,
header nav a.active {
    color: #477cff;
    /* color: #47afff; */
    /* color: #47FFF4; */
}

header .account {
    width: 300px;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    padding: 10px;
}

header .account button,
.booknow,
.learn-more {
    padding: 10px 20px;
    margin-right: 15px;
    font-size: 1.3rem;
    background-color: transparent;
    color: #477cff;
    /* background-color: #477cff; */
    border-radius: 50px;
    border: 2px solid #477cff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 1s color, 1s box-shadow;
}

header .account button:hover,
.booknow:hover,
.learn-more:hover {
    color: white;
    /* background-color: black; */
    transition-delay: 0s, 1s;
    box-shadow:
        0 0 10px #477cff,
        0 0 20px #477cff,
        0 0 40px #477cff,
        0 0 50px #477cff;
}

header .account button::before,
.booknow::before,
.learn-more::before {
    content: "";
    position: absolute;
    left: -40%;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #477cff;
    transform: skew(35deg);
    transition: 1s;
    z-index: -1;
}

.btn-h {
    display: none;
    font-size: 3rem;
    font-weight: 500;
    /* padding: 0px 30px; */
    background-color: transparent;
    color: #477cff;
    cursor: pointer;
}

header .account button:hover::before,
.booknow:hover::before,
.learn-more:hover::before {
    width: 100%;
}

header .dropdown {
    position: relative;
}

header .dropdown-menu {
    background-color: #06090d;
    position: absolute;
    top: 45px;
    display: grid;
    width: 200px;
    border-radius: 15px;
    /* height: 250px; */
    padding: 8px;
    z-index: 3333;
    opacity: 0;
    visibility: hidden;
    transition: .4s opacity, .4s visibility;
}

header .dropdown .dropdown-menu a {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

@media(max-width:1200px) {
    header .nav-menu {
        width: 850px;
    }

    header .account {
        width: 250px;
    }

    header .account button {
        font-size: 1rem;
    }
}

@media(max-width:992px) {
    .btn-h {
        display: block;
    }

    header {
        justify-content: space-between;
    }

    header .nav-menu {
        position: absolute;
        width: 100%;
        height: fit-content;
        background-color: rgb(41, 41, 41);
        z-index: 333;
        top: 92px;
        left: 0;
        display: grid;
        overflow: hidden;
        height: 0;
        transition: 1s height;
    }

    header .nav-menu.active {
        height: 380px;
    }

    header .nav-menu nav,
    header .nav-menu .account {
        text-align: center;
        display: grid;
        gap: 10px;
        justify-content: center;
        width: 100%;
    }

    header .nav-menu .account button {
        margin: 0;
        margin-left: 15px;
    }
}

/* /////////////////////header///////////////// */
.home {
    background-image: url(../images/Hero-BG.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    padding: 5rem 9rem;
    background-color: #06090d;
    /* background-color: #000; */
}

.home .home-title {
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #477cff;
}

.home .cont1 {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.home .cont1 .cont1-left {
    /* width: 700px; */
    color: white;
    font-size: 6rem;
    text-transform: capitalize;
    line-height: 120px;
}

.home .cont1 .cont1-right {
    /* width: 350px; */
    color: white;
}

.home .cont1 .cont1-right p {
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.home .cont1 .cont1-right button {
    text-transform: capitalize;
}

.home .cont2 img {
    width: 100%;
}

.home .cont3 {
    position: absolute;
    bottom: 150px;
    right: 150px;
    z-index: 33;
    width: 300px;
    height: 180px;
    background-image: url(../images/Car-Was-Foto.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    display: grid;
    place-content: center;
}

.home .cont3 .play-btn {
    width: 50px;
    height: 50px;
    background: radial-gradient(#477cff 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 100px auto;
    box-shadow: 0px 0px 25px 3px #477cff;
}

.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    /* -webkit-transform: translateX(-40%) translateY(-50%); */
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    /* -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19); */
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    opacity: 1;
    border-radius: 50%;
    animation-delay: 0s;
    animation: pulsate1 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -35%;
    left: -35%;
    background: rgba(198, 16, 0, 0);
}


@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}

@media(max-width:1200px) {


    .home {
        padding: 5rem;
    }

    .home .cont1 {
        grid-template-columns: 1.5fr 2fr;
    }

    .home .cont1 .cont1-left {
        font-size: 4.2rem;
    }

    .home .cont1 .cont1-right p {
        font-size: 1rem;
    }

    .home .cont3 {
        bottom: 257px;
        right: 53px;
    }
}

@media(max-width:992px) {

    .home {
        padding: 2rem;
    }

    .home .cont1 {
        grid-template-columns: 1.8fr 2fr;
    }

    .home .cont1 .cont1-left {
        font-size: 3.5rem;
    }

    .home .cont3 {
        display: none;

    }
}

@media(max-width:768px) {

    .home {
        padding: 0;
        text-align: center;
    }

    .home .cont1 {
        grid-template-columns: 1fr;
    }

    .home .cont1 .cont1-left {
        font-size: 4.5rem;
    }
}




/* .home-content {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .title {
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home .home-desc {
    margin: 20px 0;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 1.3rem;
}

.home .home-btn {
    min-width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    background-color: #1761f4;
} */