footer {
    background-color: #051f42;
    padding-top: 30px;
}

/* footer h2 {
    text-transform: capitalize;
    font-size: 1.4rem;
    margin: 10px 0;
    text-align: center;
    position: relative;
} */
footer h2 {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: white;
    position: relative;
    width: fit-content;
    margin: 25px auto;
}

footer h2::after,
footer h2::before {
    content: "";
    position: absolute;
    top: 15px;
    width: 60px;
    height: 2px;
    background-color: white;
}

footer h2::after {
    right: -70px;
}

footer h2::before {
    left: -70px;
}

footer .contact,
footer .pages {
    display: flex;
    justify-content: center;
    margin: 28px 0 60px 0;
}

footer .contact li {
    margin: 0 10px;
    color: white;
}

footer .pages li {
    margin: 0 20px;
}

footer .pages li a {
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-transform: capitalize;
}

footer p {
    background-color: #0c1014;
    color: white;
    padding: 20px;
    text-align: center;
}