.our-process {
    /* background-color: rgb(204, 68, 68); */
    padding: 80px;
    margin: 80px;
    background: linear-gradient(#06adfe, transparent);
    height: 500px;
}

.our-process>h2 {
    color: #000;
    position: relative;
    font-size: 1.4rem;
    width: fit-content;
    margin: 0 auto;
}

.our-process>h2::after,
.our-process>h2::before {
    content: "";
    position: absolute;
    top: 15px;
    width: 25px;
    height: 2px;
    background-color: #000;
}

.our-process>h2::after {
    right: -28px;
}

.our-process>h2::before {
    left: -28px;
}

.our-process>h3 {
    text-align: center;
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 3rem;
    /* background-color: #000; */
}

.our-process .steps {
    /* background-color: teal; */
    margin-top: 50px;
}

.our-process .steps .steps-number {
    /* background-color: tan; */
    display: flex;
    justify-content: space-evenly;
}

.our-process .steps .steps-number p {
    background-color: #32fab6;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
}

.our-process .steps .steps-number p::before {
    content: "...........";
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 2rem;
    z-index: 333;
    color: white;
}

.our-process .steps .steps-number p::after {
    content: "..........";
    position: absolute;
    top: 0;
    left: 50px;
    font-size: 2rem;
    z-index: 333;
    color: white;
}

.our-process .steps .steps-desc {
    /* background-color: tomato; */
    display: flex;
    justify-content: space-evenly;
}

.our-process .steps .steps-desc .step {
    /* background-color: #033599; */
    color: white;
}

.our-process .steps .steps-desc .step h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.our-process .steps .steps-desc .step:nth-child(1) h2,
.our-process .steps .steps-desc .step:nth-child(2) h2 {
    text-align: end;
}