/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lato', sans-serif;
}

html::-webkit-scrollbar {
    width: .7rem;
    background: #21252b;
}

html::-webkit-scrollbar-thumb {
    background: rgb(4, 128, 223);
}

::selection {
    background: rgb(4, 128, 223);
    color: #21252b;
}

body {
    /* background-color: rgb(204, 68, 68); */
    /* background-color: rgb(4, 128, 223); */
    background-color: #275dfd;
    /* background-image: url(../images/original-8062afeefc0db21531f6235ec17f7265.jpg); */
}


a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

button {
    border: 2px solid black;
}